@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600;700&display=swap');

:root {
    --text-font: 'Open Sans', sans-serif;
    --header-font: 'Anek Latin', sans-serif;
    --main-color: #5d0cce;
    --alt-color: #4400a3;
    --main-green-color: #3acc1d;
    --alt-green-color: #34b11b;
    --main-text-color: #f0f0f0;
    --alt-text-color: #e0e0e0;
    --l-text-color: #e4e4e4;
    --lx-text-color: #d4d4d4;
    --vlx-text-color: #c8c8c8;
    --ulx-text-color: #bbbbbb;
    --main-theme-color: #0a0a0a;
    --alt-hover-theme-color: #131313;
    --alt-theme-color: #181818;
    --l-theme-color: #202020;
    --lx-theme-color: #282828;
    --vlx-theme-color: #303030;
    --ulx-theme-color: #383838;
    --sucess-color: #08c456;
    --sucess-hover-color: #149d4d;
    --warning-color: #ffa200;
    --warning-hover-color: #d68700;
    --message-color: #1458c5;
    --message-hover-color: #0f0fac;
    --failed-color: #e51414;
    --failed-hover-color: #b00d0d;
    --border-radius: .4rem;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --box-shadow-hover: box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/* :root {--text-font: 'Open Sans', sans-serif;--header-font: 'Anek Latin', sans-serif;--main-color: #0746bd;--alt-color: #064897;--main-blue-color: #6666ff;--bright-blue-color: rgb(0, 62, 248);--alt-blue-color: #216dcf;--main-green-color: #3acc1d;--alt-green-color: #34b11b;--main-text-color: #0a0a0a;--alt-text-color: #131313;--l-text-color: #202020;--lx-text-color: #282828;--vlx-text-color: #303030;--ulx-text-color: #383838;--main-theme-color: #fafafa;--alt-hover-theme-color: #b9b9b9;--alt-theme-color: #d0d0d0;--l-theme-color: #c6c6c6;--lx-theme-color: #b0b0b0;--vlx-theme-color: #a0a0a0;--ulx-theme-color: #888888;--sucess-color: #08c456;--sucess-hover-color: #149d4d;--warning-color: #ffa200;--warning-hover-color: #d68700;--message-color: #1458c5;--message-hover-color: #0f0fac;--failed-color: #e51414;--failed-hover-color: #b00d0d;--border-radius: .4rem;--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);--box-shadow-hover: box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);} */

* {
    font-family: var(--text-font);
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    text-decoration: none;
    color: var(--main-text-color);
    box-sizing: border-box;
    border-style: none;
    outline-style: none;
    list-style: none;
}

html {
    font-size: 100%;
    background: var(--main-theme-color);
}

::-webkit-scrollbar {
    -webkit-transition: background .3s;
    transition: background .3s;
    background-color: var(--alt-theme-color);
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--alt-theme-color);
    background-clip: padding-box;
    border: .3rem solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border: .3rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #dddddd;
    border-radius: 112rem;
    min-height: 4rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--message-color);
    border: .3rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-transition: background-color 1.3s;
    transition: background-color .3s;
    border-radius: 112rem;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--main-color);
    -webkit-transition: background-color 1.3s;
    transition: background-color .3s;
    border: .3rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 112rem;
}

header .navbar {
    height: 4.8rem;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    background: var(--l-theme-color);
    max-width: 125rem;
    width: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

header .navbar .sec1 {
    display: flex;
    justify-content: space-between;
}

nav.navbar .sec2 .progress-container {
    width: 100%;
    height: .2rem;
    background-color: var(--l-text-color);
}

nav.navbar .left .menu-toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem .5rem;
    height: 3.1875rem;
    width: 3.1875rem;
}

nav.navbar .left .menu-toggle:hover {
    border-radius: var(--border-radius);
    background-color: var(--vlx-theme-color);
}

nav.navbar .left .menu-toggle:focus-within {
    border-radius: var(--border-radius);
    background-color: var(--vlx-theme-color);
}

nav.navbar .left .menu-toggle span {
    position: absolute;
    width: 1.875rem;
    height: 0.25rem;
    background: var(--vlx-text-color);
    border-radius: 0.75rem;
    /* justify-self: center; */
    transition: .2s;
}

nav.navbar .left .menu-toggle::before {
    content: '';
    position: absolute;
    width: 1.875rem;
    height: 0.25rem;
    background: var(--vlx-text-color);
    border-radius: 0.75rem;
    /* justify-self: center; */
    transform: translateY(-0.75rem);
    transition: .2s;
}

nav.navbar .left .menu-toggle::after {
    content: '';
    position: absolute;
    width: 1.875rem;
    height: 0.25rem;
    background: var(--vlx-text-color);
    border-radius: 0.75rem;
    /* justify-self: center; */
    transform: translateY(0.75rem);
    transition: .2s;
}

nav.navbar .left .menu-toggle.active span {
    display: none;
}

nav.navbar .left .menu-toggle.active::before {
    transform: rotate(45deg);
}

nav.navbar .left .menu-toggle.active::after {
    transform: rotate(-45deg);
}

header .navbar .left {
    width: 30%;
    display: flex;
    height: 100%;
    padding: .6rem;
    justify-content: left;
}

header .navbar .right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: .35rem;
    /* background-color: green; */
}

header .navbar .right .items {
    width: max-content;
    border-radius: var(--border-radius);
    padding: .4rem .75rem;
    margin: 2px;
    /* background-color: #0f0fac; */
}

header .navbar .right .items:hover {
    background-color: #149d4d;
}

header .navbar .right .items .icon {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

header .navbar .right .items .label {
    padding-top: .1rem;
}

header .navbar .right .items .label .nav-label {
    font-size: .9rem;
}

header .navbar .right .items.single .icon {
    font-size: 1.5rem;
    padding: .75rem;
}

header .navbar .centre {
    width: 40%;
    padding: .5rem;
}

header .navbar .centre form {
    position: relative;
    overflow: visible;
}

header .navbar .centre .search-box {
    width: 100%;
    display: flex;
    padding: .5rem;
    border: 1.5px solid var(--ulx-text-color);
    border-radius: 4rem;
    padding: .5rem .5rem .5rem 1.2rem;
    background-color: var(--alt-theme-color);
    transition: border-radius .15s;
    overflow: hidden;
}

header .navbar .centre .search-box.search-active {
    border-radius: 1.8rem 1.8rem 0 0;
    border: 1.5px solid var(--ulx-text-color);
}

header .navbar .centre .suggest-search {
    display: none;
}

header .navbar .centre .suggest-search.search-active {
    display: block;
}

header .navbar .centre .search-box #search {
    width: 100%;
    padding: .5rem;
    border-radius: 4rem 0 0 4rem;
    background-color: transparent;
    font-size: 1rem;
}

header .navbar .centre .search-box .search-btn {
    width: 2.125rem;
    padding: .35rem;
    border-radius: 50%;
    font-size: 1.3rem;
    background-color: transparent;
}

header .navbar .centre .suggest-search {
    position: absolute;
    width: 100%;
    padding: 1rem;
    border: 1.5px solid var(--ulx-text-color);
    background-color: var(--alt-theme-color);
    border-radius: 0 0 1.5rem 1.5rem;
    z-index: 2;
}

#sssearch-close {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    right: 0;
    display: none;
}

#page-progress {
    background-color: red;
    width: 100%;
    height: 100%;
}

.r {
    width: 100%;
    margin-top: 5rem;
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
}

.mess {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}