@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@600;700&display=swap');
:root {
    --text-font: 'Open Sans', sans-serif;
    --header-font: 'Anek Latin', sans-serif;
    --main-color: #0746bd;
    --alt-color: #0d50a3;
    --main-blue-color: #6666ff;
    --bright-blue-color: rgb(0, 62, 248);
    --alt-blue-color: #216dcf;
    --main-green-color: #3acc1d;
    --alt-green-color: #34b11b;
    --main-text-color: #f0f0f0;
    --alt-text-color: #e0e0e0;
    --l-text-color: #e4e4e4;
    --lx-text-color: #d4d4d4;
    --vlx-text-color: #c8c8c8;
    --ulx-text-color: #bbbbbb;
    --main-theme-color: #0a0a0a;
    --alt-hover-theme-color: #131313;
    --alt-theme-color: #181818;
    --l-theme-color: #202020;
    --lx-theme-color: #282828;
    --vlx-theme-color: #303030;
    --ulx-theme-color: #383838;
    --sucess-color: #08c456;
    --sucess-hover-color: #149d4d;
    --warning-color: #ffa200;
    --warning-hover-color: #d68700;
    --message-color: #1458c5;
    --message-hover-color: #0f0fac;
    --failed-color: #e51414;
    --failed-hover-color: #b00d0d;
    --border-radius: .4rem;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --box-shadow-hover: box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    font-family: var(--text-font);
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    text-decoration: none;
    color: var(--main-text-color);
    box-sizing: border-box;
    border-style: none;
    outline-style: none;
    list-style: none;
}

html {
    background: var(--main-theme-color);
}

::-webkit-scrollbar {
    width: 0.6rem;
    /* background-color: rgba(0, 0, 0, 0);*/
    background-color: var(--alt-theme-color);
}

::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #dddddd;
    border-radius: 112rem;
    min-height: 2rem;
    /* -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
    /* transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

header nav.navbar {
    z-index: 100;
    opacity: .95;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.7rem;
    background-color: var(--l-theme-color);
    border-bottom: 1.1px solid rgba(100, 100, 100, .5);
    box-shadow: var(--box-shadow);
}

nav.navbar .left-bar {
    width: 33%;
    padding: .7rem;
    display: flex;
}

nav.navbar .left-bar .menu-toggle {
    /* position: fixed; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem 0 1.2rem;
    height: 51px;
    width: 51px;
}

nav.navbar .left-bar .menu-toggle:hover {
    border-radius: var(--border-radius);
    background-color: var(--vlx-theme-color);
}

nav.navbar .left-bar .menu-toggle:focus-within {
    border-radius: var(--border-radius);
    background-color: var(--vlx-theme-color);
}

nav.navbar .left-bar .menu-toggle span {
    position: absolute;
    width: 30px;
    height: 0.25rem;
    background: #e0e0e0;
    border-radius: 0.75rem;
    /* justify-self: center; */
    transition: .2s;
}

nav.navbar .left-bar .menu-toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 0.25rem;
    background: #e0e0e0;
    border-radius: 0.75rem;
    /* justify-self: center; */
    transform: translateY(-0.75rem);
    transition: .2s;
}

nav.navbar .left-bar .menu-toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 0.25rem;
    background: #e0e0e0;
    border-radius: 0.75rem;
    /* justify-self: center; */
    transform: translateY(0.75rem);
    transition: .2s;
}

nav.navbar .left-bar .menu-toggle.active span {
    display: none;
}

nav.navbar .left-bar .menu-toggle.active::before {
    transform: rotate(45deg);
}

nav.navbar .left-bar .menu-toggle.active::after {
    transform: rotate(-45deg);
}

nav.navbar .search-bar {
    width: 33%;
    padding: .75rem;
    display: flex;
}

nav.navbar .search-bar form {
    width: 100%;
    /* display: flex; */
}

nav.navbar .search-bar form .search-box {
    /* width: 100%; */
    /* box-shadow: var(--box-shadow); */
    display: flex;
    background-color: var(--alt-theme-color);
    padding: .4rem .75rem .4rem 1.2rem;
    border-radius: 50rem;
}

nav.navbar .search-bar form .search-box:hover {
    background-color: var(--alt-hover-theme-color);
}

nav.navbar .search-bar form .search-box:focus-within {
    background-color: var(--alt-hover-theme-color);
    box-shadow: var(--box-shadow-hover);
}

nav.navbar .search-bar .search-box #search {
    caret-color: var(--lx-text-color);
    width: calc(100% - 24px);
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem;
}

nav.navbar .search-bar .search-box #search-btn {
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
}

nav.navbar .right-bar {
    width: 33%;
    display: flex;
    justify-content: right;
    padding: .75rem;
}

nav.navbar .right-bar div.items {
    padding: .75rem;
    margin: 0 2px;
    line-height: 1.7rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: .3s;
}

nav.navbar .right-bar div.items#account {
    background-color: var(--alt-green-color);
    transition: .3s;
}

nav.navbar .right-bar div.items#account:hover {
    background-color: #0746bd;
}

nav.navbar .right-bar div.items span {
    padding: 0 0 0 .25rem;
}

nav.navbar .right-bar div.items.single {
    padding: .75rem;
    line-height: 1.7rem;
    border-radius: 50%;
    width: 3.13rem;
    cursor: pointer;
    text-align: center;
}

nav.navbar .right-bar div.items:hover {
    background-color: #0746bd;
}


/* navbar end */


/* slidebar start */

#slidebar-container {
    position: fixed;
    top: 0;
    display: none;
    z-index: 50;
    background-color: black;
    opacity: .7;
    left: 0;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

#slidebar-container.active {
    display: block;
}

header nav.slidebar {
    z-index: 90;
    user-select: none;
    position: fixed;
    top: 0;
    overflow-y: auto;
    height: calc(100vh - 4.8rem);
    left: -16rem;
    background-color: var(--l-theme-color);
    margin-top: 4.8125rem;
    opacity: 1;
    /* width: 18%; */
    transition: .3s;
    width: 16rem;
}

header nav.slidebar.active {
    left: 0;
    opacity: .9;
}

header nav.slidebar .items {
    display: block;
}

header nav.slidebar .items a {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 12px 12px 12px 25px;
}

header nav.slidebar .items a i {
    min-width: 1.2rem;
}

header nav.slidebar .items:hover a i,
header nav.slidebar .items:hover a {
    background-color: var(--ulx-theme-color);
    color: var(--bright-blue-color);
}

header nav.slidebar .items:hover a {
    border-radius: 0 2rem 2rem 0;
}

header nav.slidebar .items:hover {
    width: calc(100% - .2rem);
}

header nav.slidebar::-webkit-scrollbar {
    display: none;
}

header nav.slidebar:hover::-webkit-scrollbar {
    display: block;
}

.hidden {
    display: none;
}


/* slidebar end */


/* header end */

div.page {
    display: flex;
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* justify-content: left; */
    /* justify-items: left; */
    /* margin-top: 100px; */
    margin-top: 5rem;
}

div.page main {
    padding: .75rem;
    width: calc(75% - 1.5rem);
}

div.page .asidebar {
    width: calc(25% - 1.5rem);
    padding: .75rem;
    /* width: calc(25% - 2rem); */
    float: left;
    display: block;
}


/* Section part start */

section.anime {
    /* width: 75%;
 */
    display: block;
}

section .delta {
    padding: .75rem;
    background-color: var(--alt-theme-color);
    border-radius: var(--border-radius);
}

section .delta .head {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    opacity: .8;
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.delta .head .head-left,
.delta .head .head-right {
    width: 25%;
}

.delta .head .head-center {
    padding: .75rem;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.delta .head .head-left {
    /* background-color: red; */
    padding: .55rem .75rem;
}

.delta .head .head-left .title {
    /* background-color: blue; */
    opacity: 1;
}

.delta .head .head-left .title h5 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    line-height: 2rem;
    text-transform: capitalize;
    vertical-align: middle;
    padding-left: 1.1rem;
    position: relative;
}

.delta .head .head-left .title h5::after {
    position: absolute;
    left: 0;
    /* top: -0.38rem; */
    height: 2rem;
    width: .4rem;
    background: linear-gradient(135deg, rgb(255, 38, 0), rgb(252, 6, 145));
    content: '';
}

section .delta .head .head-right {
    user-select: none;
    padding: .55rem .75rem;
    display: flex;
    justify-content: right;
}

.delta .head .head-right .head-right-items {
    line-height: 2rem;
    padding: 0 .35rem;
}

section .delta .body {
    display: block;
    padding: .5rem;
    opacity: .95rem;
    border-radius: var(--border-radius);
    background-color: transparent;
}

section .delta .body.lianime {
    display: block;
    padding: 0;
}

ul.anime-card-list {
    background-color: transparent;
    width: 100%;
    font-size: 0;
    line-height: 1.5;
}

.anime-card-list li {
    width: calc(25% - 2%);
    background-color: var(--l-theme-color);
    margin: 1%;
    font-size: medium;
    display: inline-flex;
    justify-content: baseline;
    border-radius: var(--border-radius);
}

.anime-card-list .anime-card {
    /* line-height: 1.5; */
    color: #a885da;
    transition: all .15s;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.anime-card-list .anime-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.anime-card-list .anime-card .animeposter {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.anime-card-list .anime-card .animeposter .poster {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    /* height: 120px; */
    width: 1000%;
    transition: transform .2s linear;
}

.anime-card-list li:hover .anime-card .animeposter .poster:hover {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transform: scale(1.1);
    /* transform: skew(1deg, 1deg); */
}

.anime-card-list .anime-card .animeposter a {
    position: static;
    display: flex;
}

.anime-card-list .anime-card .animeposter::before {
    position: absolute;
    content: "ï‹";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8f8f8;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    border: 0 solid #f8f8f8;
    z-index: 200;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    transition: all .15s;
}

.anime-card-list .anime-card:hover .anime-card-list .anime-card .animeposter::before {
    font-size: 26px;
    line-height: 57.2px;
    width: 65px;
    height: 65px;
    margin-left: -32.5px;
    margin-bottom: -32.5px;
    border-width: 5px;
    bottom: 50%;
    padding-left: 5.2px;
}

.anime-card-list .anime-card .animeposter i {
    font-size: 12rem;
    visibility: hidden;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anime-card-list .anime-card .animeposter:hover .anime-card-list .anime-card .animeposter i {
    visibility: visible;
}

.animename {
    padding: .3rem;
    transition: all .15s;
}

.name {
    /* width: 100%; */
    font-size: 1rem;
    /* text-align: center; */
    overflow: hidden;
    /* padding: 0 .13rem; */
    /* overflow: clip; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3em;
    margin-bottom: 6px;
    transition: all .15s;
    color: #ababab;
}

.tag {
    position: absolute;
    margin: 2px;
    width: max-content;
    display: flex;
    height: max-content;
}

.tag span {
    font-size: .85em;
    padding: 2px 5px;
    background: #5a2e98;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    color: #ededed;
    min-width: 2rem;
    border-radius: var(--border-radius);
}

.tags {
    position: absolute;
    width: max-content;
    display: flex;
    height: max-content;
}

.tags>.tage {
    width: max-content;
    height: fit-content;
    margin: 2px;
}

.tags>.tage span {
    justify-content: center;
    display: flex;
    white-space: nowrap;
    width: max-content;
    min-width: 2rem;
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    padding: 2px 6px;
    color: #eee;
    background: green;
}

.ac-rating {
    top: 0;
    left: 0;
}

.ac-rating span {
    background-color: rgb(205, 147, 1);
}

.ac-topright {
    top: 0;
    right: 0;
}

.ac-lang {
    bottom: 0;
    left: 0;
}

.ac-ep {
    bottom: 0;
    right: 0;
}

.agere {
    background-color: #ff7300!important;
}


/* .genres {} */

.genres li {
    margin: 0;
    display: inline-flex;
    color: white;
    font-size: .65rem;
    border-radius: var(--border-radius);
    background-color: green;
    padding: .016rem .2rem;
    width: max-content;
}


/* Section part end */


/* main end */


/* footer start */

footer {
    margin-top: 2rem;
    z-index: 0;
    position: relative;
    width: 100%;
    user-select: none;
    background-color: var(--l-theme-color);
}

footer .hellogototop {
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 2rem; */
    /* position: relative; */
    /* position: absolute; */
}

footer .gototop {
    position: absolute;
    width: 4rem;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    /* position: ; */
    background-color: var(--main-color);
    border-radius: 450%;
}

footer .gototop:hover {
    opacity: .9;
}

footer .gototop div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
}

footer .gototop div i {
    line-height: 4rem;
    font-size: 2rem;
}

footer .az-list {
    width: 100%;
    padding: .75rem;
    padding-top: 2rem;
    border-bottom: 1px solid var(--ulx-theme-color);
}

footer .az-list .title {
    margin-bottom: .75rem;
}

footer .az-list .title span:nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
}

footer .az-list .title span:nth-child(1)::after {
    content: ' | ';
    line-height: 1.5rem;
}

footer .az-list .title span:nth-child(2) {
    line-height: 1.5rem;
}

footer .az-list .items {
    font-size: 0;
    display: block;
}

footer .az-list .items a {
    font-size: 1rem;
    margin: .18rem;
    display: inline-block;
    text-align: center;
    border-radius: .2rem;
    min-width: 2rem !important;
    padding: .125rem .5rem;
    width: 10px;
    max-width: 3rem;
    background-color: var(--lx-theme-color);
    opacity: 1;
}

footer .az-list .items a:hover {
    background-color: var(--main-color);
}

footer .footer-main {
    display: flex;
    padding: .75rem;
}

footer .footer-main .rows {
    width: 33.33%;
    display: flex;
    /* justify-content: center; */
}

footer .footer-main .rows .item {
    display: block;
}

footer div.footer-bar {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--lx-theme-color);
    display: flex;
    justify-content: space-between;
}

footer div.footer-bar .links ul {
    display: flex;
    justify-content: right;
}

footer div.footer-bar .links ul li {
    margin: 0 .3rem;
}

footer .footer-main a,
footer .footer-bar a {
    color: #08c456;
}

footer .footer-main a:hover,
footer .footer-bar a:hover {
    background: linear-gradient(130deg, rgb(164, 7, 149), rgb(255, 94, 0));
    padding: .125rem;
    margin: -.125rem;
    color: white;
    border-radius: .3rem;
}